/* HEADER */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 92px 53px 92px 51px;
}

.header__links-list-item {
  display: flex;
  gap: 32px;
  text-underline-offset: 5px;
  list-style-type: circle;
}

.header__link-list-item_no-dot {
  list-style-type: none;
}

.header__link {
  font-size: 18px;
}

.header__link_undelining {
  text-decoration: none;
}

.header__logo {
  margin-right: 147px;
}

.header__logo-image {
  width: 148px;
  height: 105px;
}

.address {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 24.3px;
  text-underline-offset: 4px;
}

.address__nowrap {
  white-space: nowrap;
}

/* SECTION COVER */

.cover {
  position: relative;
  display: flex;
  height: 757px;
  width: 1440px;
  color: white;
  background-image: url(/images/cover.jpg);
  background-position: center;
  background-size: cover;
}

.overlay {
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0/0.6);
}

.cover__title {
  margin: 165px 50px 237px 50px;
  font-weight: 700;
  font-size: 100px;
  line-height: 115px;
  letter-spacing: 30px;
  text-transform: uppercase;
  word-wrap: break-word;
}

.aligned-text {
  display: block;
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

.aligned-text_center {
  margin-top: 12px;
  text-align: center;
}

.aligned-text_right {
  margin-top: 5px;
  margin-right: -30px;
  text-align: right;
}

.cover__description {
  position: absolute;
  right: 51px;
  bottom: 51px;
  display: flex;
  align-items: center;
  gap: 82px;
}

.cover__description-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  word-spacing: 17.5px;
  word-wrap: break-word;
}

.bet-button {
  border: solid #fff 1px;
  padding: 12px 32px;
  color: white;
  font-weight: 400;
  font-size: 22px;
  text-transform: uppercase;
  background: transparent;
  cursor: pointer;
}

/* SECTION LOTS */

.lots {
  padding: 180px 50px 181px 50px;
}

.lots__heading {
  margin-left: 40px;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}
