/* HEADER */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 92px 53px 92px 51px;
}

.header__links-list-item {
  display: flex;
  gap: 32px;
  text-underline-offset: 5px;
  list-style-type: circle;
}

.header__link-list-item_no-dot {
  list-style-type: none;
}

.header__link {
  font-size: 18px;
}

.header__link_undelining {
  text-decoration: none;
}

.header__logo {
  margin-right: 147px;
}

.header__logo-image {
  width: 148px;
  height: 105px;
}

.address {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 24.3px;
  text-underline-offset: 4px;
}

.address__nowrap {
  white-space: nowrap;
}

/* SECTION COVER */

.cover {
  position: relative;
  display: flex;
  height: 757px;
  color: white;
  background-image: url(/images/cover.jpg);
  background-position: center;
  background-size: cover;
}

